:root {
    --side-bar-width:270px
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Montserrat', sans-serif;
}

.body {
    min-width: 500px;
}

.text {
    font-weight: 700;
    color: #6a6a6a;
}

.title {
    font-size: 2.3em;
    font-weight: 700;
    color: white;
    margin-bottom: .5em;
}

.song-title {
    font-weight: 700;
    color: white;
    margin-bottom: .8em;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

.alt-link:hover {
    text-decoration: underline;
}

img {
    width: 100%;
}

/* HEADER */
header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    width: calc(100% - var(--side-bar-width));
    /* width: 100%; */
    height: 110px;
}

.upgrade-btn a {
    border: 2px solid #a3a2a5;
    border-radius: 50px;
    padding: 15px 45px;
    margin-right: 25px;
    font-weight: 600;
    font-size: .9em;
    color: white;
}

.upgrade-btn:hover {
    transform: scale(1.1);
}
/* /HEADER */

/* MAIN E SIDEBAR */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    height: calc(100vh - 110px);
    overflow-y: auto;
}

/* SIDEBAR */
#sidebar {
    background-color: black;
    width: var(--side-bar-width);
    height: 100%;
    overflow: hidden;
}

.pad {
    padding: 0 1.5em;
}

/* Sidebar Top */
.sidebar-top {
    height: calc(100% - 90px);
    width: 100%;
    min-height: 400px;
    padding-top: 1.5em;
    overflow: hidden;
}
/* Logo */
.logo {
    width: 85%;
    margin-bottom: 1.8em;
    padding: 0 1.5em;
}

.logo-small {
    display: none;
    width: 50%;
    margin-left: 1em;
}

/* Sezione 1 */
.nav-base {
    margin-bottom: 1.5em;
}

.nav-base-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .5em;
}

.green-line-sidebar {
    position: absolute;
    height: 30px;
    top: 90px;
    left: 0;
    border-left: 5px solid greenyellow;
}

.icon-size-sidebar {
    width: 30px;
}

.text-sidebar {
    font-size: 1em;
    font-weight: 500;
    margin-left: .2em;
}

.text-sidebar:hover {
    color: white;
}

.selected {
    padding: 0 1.5em;
    border-left: 3px solid greenyellow;
}

.unselected {
    padding: 0 1.5em;
    border-left: 3px solid transparent;
}

.selected-text {
    color: white;
}
/* /Sezione1 */

/* Sezione2 */
.playlist-list {
    overflow-y: auto;
}

.add-new {
    margin: 1.3em 0;
}

.add-new:hover #icon-plus {
    background-color: white;
    color: black;
}

.add-new:hover .text-add-new {
    color: white;
}

#icon-plus {
    font-size: 1.5em;
    padding: .4em .5em;
    margin-right: .3em;
    background-color: #a5a5a5;
}

.list-title {
    font-weight: 700;
    color: white;
}

.text-add-new {
    font-size: large;
}

.playlist-list ul {
    list-style: none;
    overflow-y: auto;
}

li {
    margin: 1.3em 0;
}
/* /Sezione2 */

/* Sidebar Bottom */
.sidebar-bottom {
    height: 90px;
    padding: 0 1.5em;
}

.install-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .4em 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #6a6a6a;
}

.install-app img {
    width: 20px;
    margin-right: .5em;
}

.user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    color: white;
    margin: .4em 0;
}

.user-name img{
    width: 30px;
    border-radius: 50%;
    margin-right: .5em;
    background-color: grey;
}
/* /Sidebar Bottom */
/* /SIDEBAR */

/* MAIN */
main {
    width: calc(100% - var(--side-bar-width));
    height: 100%;
    background-color: #23272f;
    overflow-y: auto;
}

/* Nav */
.main-nav {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
    margin-top: 110px;
}

.main-nav a {
    margin: 1em;
}

.chosen {
    position: relative;
}

.green-line {
    position: absolute;
    top: 1.2em;
    right: 3em;
    border: 1px solid #91df1c;
    width: 40px;
    height: 2px;
}
/* /Nav */

/* Corpo Main */
.main-container {
    width: 100%;
    height: calc(100% - 200px);
    padding: 1.5em;
}

.song-container, .song-container-rounded {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6 - 0.8em);
    margin: 0 0.4em 2.5em 0.4em;
}

.img {
    position: relative;
}

.layover::before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.play-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
}

.song-container:hover .layover::before {
    display: inline-block;
}

.img:hover .play-button {
    display: inline-block;
}

.song-container-rounded img {
    border-radius: 50%;
    position: relative;
}

.song-container:first-child,
.song-container-rounded:first-child {
    margin: 0 0.4em 2.5em 0em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.for-john p {
    margin-bottom: 1em;
}
/* /Corpo Main */
/* /MAIN */
/* /MAIN E SIDEBAR */

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #313131;
    height: 110px;
}

/* Col Sx */
.col-sx {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1em;
    width: 230px;
}

.col-sx img{
    width: 50px;
}

.col-sx i {
    font-size: 25px;
    color: #8d8d8d;
}

.current-name {
    font-weight: 700;
    color: white;
}

.current-sub {
    font-size: small;
    font-weight: 700;
    color: #6a6a6a;
}

.icon {
    display: flex;
    align-items: center;
    width: 15%;
}

.icon i {
    margin-right: .5em;
}

.icon i:hover {
    color: white;
}
/* /Col Sx */

/* Col Middle */
.col-mid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

.icon-bar {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
}

.icon-bar i {
    font-size: 20px;
    color: white;
}

#play i{
    font-size: 35px;
}

#play i:hover {
    transform: scale(1.1);
}

.timer {
    font-size: small;
    font-weight: 700;
    color: white;
}

.progress-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25px;
}

.progress-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#progress-bar {
    position: relative;
    display: inline-block;
    margin: 0 1em;
    width: 80%;
    height: 6px;
    border: 1px solid #5f5f5f;
    background-color: #5f5f5f;
    border-radius: 5px;
}

#progress-bar:hover .bar-progress{
    border: #91df1c;
    background-color: #91df1c;
}

.range {
    display: none;
    position: absolute;
    top: -6px;
    left: 18%;
    border: 8px solid white;
    background-color: white;
    border-radius: 50%;
}

#progress-bar:hover .range{
    display: inline-block;
}

.bar-progress {
    position: absolute;
    top: -1px;
    left: -17px;
    margin: 0 1em;
    width: 20%;
    height: 6px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    border-radius: 5px;
}
/* /Col Middle */

/* Col Dx */
.col-dx {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 60px;
    color: white;
}

#volume-bar {
    position: relative;
    display: inline-block;
    margin: 0 1em;
    width: 120px;
    height: 6px;
    border: 1px solid #5f5f5f;
    background-color: #5f5f5f;
    border-radius: 5px;
}

.volume-progress {
    position: absolute;
    top: -1px;
    left: -16px;
    margin: 0 1em;
    width: 30px;
    height: 6px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    border-radius: 5px;
}

#volume-bar:hover .volume-progress{
    border: #91df1c;
    background-color: #91df1c;
}

.volume {
    display: flex;
    align-items: center;
}

.range-vol {
    display: none;
    position: absolute;
    top: -6px;
    left: 20px;
    border: 8px solid white;
    background-color: white;
    border-radius: 50%;
}

#volume-bar:hover .range-vol {
    display: inline-block;
}
/* /Col Dx */

/* MEDIA QUERY */
/* size standard: >1100 (ergo "lg") */
/* size from lg to md */
@media screen and (max-width: 1100px) {
    
    .row {
        flex-wrap: wrap;
    }

    .song-container {
        width: calc(100% / 4 - 0.8em);
    }
}

/* size from md to s */
@media screen and (max-width: 700px) {
    
    .row {
        flex-wrap: wrap;
    }

    .song-container {
        width: calc(100% / 2 - 0.8em);
    }
}

/* size s & xs */
@media screen and (max-width: 600px) {

    :root {
        --side-bar-width: 70px;
    }

    .logo {
        margin-bottom: 1em;
    }

    .sidebar-top {
        padding-top: 0.5em;
    }

    .logo,
    .nav-base,
    .user-info {
        width: 100%;
        padding: 0;
    }

    .logo-small {
        display: inline-block;
    }

    .icon-size-sidebar {
        width: 90%;
    }

    .selected,
    .unselected {
        border: none;
        padding: 0 1.2em;
    }
    
    .logo-spotify,
    .text-sidebar,
    .nav-playlist,
    .user-info-text {
        display: none;
    }

    .sidebar-bottom {
        padding: 0;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-name {
        margin: 0;
    }

    .user-name img {
        width: 25px;
        margin-right: 0;
    }

    .install-app {
        border: none;
    }

    .install-app img {
        margin: 0;
    }

    .icon {
        flex-direction: column;
    }

    .col-dx {
        flex-direction: column;
    }
}
/* /MEDIA QUERY */

/* 
Colori

Sfondo Main: #23272f
Sfondo Footer: #313131
Scritte grigie: #6a6a6a
Quadrato add playlist: #a5a5a5
Barre, parte incompleta: #5f5f5f
Barre, parte completa: #c4c4c4
Sottobarra verde header: #91df1c
*/
